node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env.example
/backend/.vs
.local
.vs
*.log
*.dll
**/bin/
**/obj/
.env
# Ignore configuration files
appsettings.json
appsettings.Development.json
appsettings.Production.json

